/* Basic reset and styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

select, input {
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: #666666;
    height: 55px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid black;
}


.container {
    display: flex;
    flex-direction: column;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 80%;
}

.invoerData {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 1rem;
}

label {
    margin-bottom: 10px;
}

.label-input {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.label-input label {
    font-weight: bold;
    font-size: 1.5rem;
}


.header {
    background-color: #a6cfa6; /* Light green background */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.header img {
    width: 33%;
    height: auto;
    max-width: 100%;
}


.toegevoegdeArtikelen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fout {
    background-color: red;
    color: white;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.kasboekInhoud {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table-wrapper {
    border-radius: 10px;
    overflow: hidden; /* Ensures the rounded corners are visible */
    border: 1px solid black;
    width: 80%;
}

table {
    width: 100%; /* Makes the table fill the wrapper */
    border-collapse: collapse;
    margin: 0;
    border-bottom: 0;
    overflow: auto;
}

td,
th {
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

th {
    color: black;
    background-color: white;
    font-size: 1.5rem;
}

tbody {
    font-weight: 400;
    font-size: 1.3rem;
}

tr {
    padding-bottom: 6px;
    padding-top: 6px;
}

thead tr {
    border-bottom: 1px solid black;
}

tbody tr:last-child {
    border-bottom: 0;
}

tbody tr {
    border-bottom: 1px solid black;
}

.button-container {
    text-align: center;
    margin: 20px 0 20px 0;


}

.button {
    padding: 20px 40px;
    background-color: #ABD7A8;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    transition: 0.2s;
}

.button:hover {
    background-color: #c1e6be;
}

.button-smaller {
    height: 60px;
    font-size: 1.2rem;
}

.input-smaller {
    width: 4.3rem;
}

.align-input-left {
    justify-content: flex-start;
    gap: 2rem;
}


.button-container button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}